## I. Data Preparation (train)

The goal of this dataset is to clean the data set we'll use for data visualizations and training the model. Note that further data wrangling is required for training the model, which will be done in jupyter notebook no.2 from this project.
    
Here's what to expect on this notebook:
    - Importing libraries and data
    - Fixing data types
    - Find number of nulls
    - Feature engineering: Creating new columns, aggreagating categories and hot encoding
    
Finally we save modified data for future data visualizations

### 1. Importing libraries and data

In [1]:
# import libraries
import pandas as pd
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm
import numpy as np
import numpy.random as nr
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
import math

%matplotlib inline
%matplotlib inline

In [2]:
#import first data set (CPtrain values)
df=pd.read_csv('CPtrain_values.csv',sep=',')
df.shape

(1401, 46)

In [3]:
#View data
df.head(2)

,row_id,country_code,year,agricultural_land_area,percentage_of_arable_land_equipped_for_irrigation,cereal_yield,droughts_floods_extreme_temps,forest_area,total_land_area,fertility_rate,...,open_defecation,hiv_incidence,rail_lines_density,access_to_electricity,co2_emissions,unemployment_rate,total_labor_force,military_expenditure_share_gdp,proportion_of_seats_held_by_women_in_gov,political_stability
0,0,889f053,2002,235077.658128,38.558520,935.754365,NaN,5397.737544,537408.312513,5.928981,...,28.933529,0.009975,NaN,52.433239,15485.148165,14.788020,4.350521e+06,7.021072,0.698153,-1.393801
1,1,9e614ab,2012,23000.640738,21.282631,4031.452161,NaN,178336.529912,232013.631676,3.000629,...,29.665789,0.029840,NaN,77.715574,1696.458184,0.687018,3.262614e+06,0.198831,25.101826,0.030556

In [4]:
# Remove duplicates if available (row)
print(df.shape)
print (df.row_id.unique().shape)

(1401, 46)
(1401,)

No duplicates to be removed (based on id column)

### 2.  Fixing data types and see number of nulls

In [5]:
#view data types and see if there's anything wrong
df.dtypes

row_id                                                 int64
country_code                                          object
year                                                   int64
agricultural_land_area                               float64
percentage_of_arable_land_equipped_for_irrigation    float64
cereal_yield                                         float64
droughts_floods_extreme_temps                        float64
forest_area                                          float64
total_land_area                                      float64
fertility_rate                                       float64
life_expectancy                                      float64
rural_population                                     float64
total_population                                     float64
urban_population                                     float64
population_growth                                    float64
avg_value_of_food_production                         float64
cereal_import_dependency_ratio                       float64
food_imports_as_share_of_merch_exports               float64
gross_domestic_product_per_capita_ppp                float64
imports_of_goods_and_services                        float64
inequality_index                                     float64
net_oda_received_percent_gni                         float64
net_oda_received_per_capita                          float64
tax_revenue_share_gdp                                float64
trade_in_services                                    float64
per_capita_food_production_variability               float64
per_capita_food_supply_variability                   float64
adult_literacy_rate                                  float64
school_enrollment_rate_female                        float64
school_enrollment_rate_total                         float64
avg_supply_of_protein_of_animal_origin               float64
caloric_energy_from_cereals_roots_tubers             float64
access_to_improved_sanitation                        float64
access_to_improved_water_sources                     float64
anemia_prevalence                                    float64
obesity_prevalence                                   float64
open_defecation                                      float64
hiv_incidence                                        float64
rail_lines_density                                   float64
access_to_electricity                                float64
co2_emissions                                        float64
unemployment_rate                                    float64
total_labor_force                                    float64
military_expenditure_share_gdp                       float64
proportion_of_seats_held_by_women_in_gov             float64
political_stability                                  float64
dtype: object

All columns seem to be the right data type

In [6]:
#see how many nulls we have on data
df.isna().sum()

row_id                                                  0
country_code                                            0
year                                                    0
agricultural_land_area                                 16
percentage_of_arable_land_equipped_for_irrigation     248
cereal_yield                                           64
droughts_floods_extreme_temps                        1326
forest_area                                            16
total_land_area                                         0
fertility_rate                                         14
life_expectancy                                        15
rural_population                                        0
total_population                                        0
urban_population                                        0
population_growth                                       1
avg_value_of_food_production                          167
cereal_import_dependency_ratio                        317
food_imports_as_share_of_merch_exports                253
gross_domestic_product_per_capita_ppp                  39
imports_of_goods_and_services                          77
inequality_index                                      972
net_oda_received_percent_gni                          164
net_oda_received_per_capita                           162
tax_revenue_share_gdp                                 545
trade_in_services                                     165
per_capita_food_production_variability                 87
per_capita_food_supply_variability                    172
adult_literacy_rate                                  1116
school_enrollment_rate_female                         606
school_enrollment_rate_total                          504
avg_supply_of_protein_of_animal_origin                252
caloric_energy_from_cereals_roots_tubers              252
access_to_improved_sanitation                          74
access_to_improved_water_sources                       62
anemia_prevalence                                      80
obesity_prevalence                                    157
open_defecation                                        20
hiv_incidence                                         371
rail_lines_density                                    944
access_to_electricity                                   4
co2_emissions                                          84
unemployment_rate                                      64
total_labor_force                                      64
military_expenditure_share_gdp                        273
proportion_of_seats_held_by_women_in_gov              143
political_stability                                   135
dtype: int64

Considering I have 1401 rows, having columns with more than 600 nulls is a concern. I will take a different approach to see how many the columns with fewer rows filled in.

In [7]:
# See number of rows with non nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401 entries, 0 to 1400
Data columns (total 46 columns):
row_id                                               1401 non-null int64
country_code                                         1401 non-null object
year                                                 1401 non-null int64
agricultural_land_area                               1385 non-null float64
percentage_of_arable_land_equipped_for_irrigation    1153 non-null float64
cereal_yield                                         1337 non-null float64
droughts_floods_extreme_temps                        75 non-null float64
forest_area                                          1385 non-null float64
total_land_area                                      1401 non-null float64
fertility_rate                                       1387 non-null float64
life_expectancy                                      1386 non-null float64
rural_population                                     1401 non-null float64
total_population                                     1401 non-null float64
urban_population                                     1401 non-null float64
population_growth                                    1400 non-null float64
avg_value_of_food_production                         1234 non-null float64
cereal_import_dependency_ratio                       1084 non-null float64
food_imports_as_share_of_merch_exports               1148 non-null float64
gross_domestic_product_per_capita_ppp                1362 non-null float64
imports_of_goods_and_services                        1324 non-null float64
inequality_index                                     429 non-null float64
net_oda_received_percent_gni                         1237 non-null float64
net_oda_received_per_capita                          1239 non-null float64
tax_revenue_share_gdp                                856 non-null float64
trade_in_services                                    1236 non-null float64
per_capita_food_production_variability               1314 non-null float64
per_capita_food_supply_variability                   1229 non-null float64
adult_literacy_rate                                  285 non-null float64
school_enrollment_rate_female                        795 non-null float64
school_enrollment_rate_total                         897 non-null float64
avg_supply_of_protein_of_animal_origin               1149 non-null float64
caloric_energy_from_cereals_roots_tubers             1149 non-null float64
access_to_improved_sanitation                        1327 non-null float64
access_to_improved_water_sources                     1339 non-null float64
anemia_prevalence                                    1321 non-null float64
obesity_prevalence                                   1244 non-null float64
open_defecation                                      1381 non-null float64
hiv_incidence                                        1030 non-null float64
rail_lines_density                                   457 non-null float64
access_to_electricity                                1397 non-null float64
co2_emissions                                        1317 non-null float64
unemployment_rate                                    1337 non-null float64
total_labor_force                                    1337 non-null float64
military_expenditure_share_gdp                       1128 non-null float64
proportion_of_seats_held_by_women_in_gov             1258 non-null float64
political_stability                                  1266 non-null float64
dtypes: float64(43), int64(2), object(1)
memory usage: 503.6+ KB

The following rows have very few values:
- Adult literacy rate (2085)
- droughts_floods_extreme_temps (75)
- inequality_index (429)
- rail_lines_density (457)
- school_enrollment_rate_female (795)                        
- school_enrollment_rate_total (897)                       
- tax_revenue_share_gdp (856)

I need to do something about them. If I do imputation (replacing nulls with a value, such as the mode, median, mean, or any other one) would bias the prediction results. On the other hand, if I remove the rows with missing values, I would end up with a dataset with only 75 values.

Probably, the best thing to do is to remove those columns. Before that, I shall make sure that the correlation between these columns (features) I want to remvoe and the label (prevalence of undernourishment) is not relevant.

In [8]:
# Find the most important correlations

import pandas as pd
d = df.loc[:, df.columns != 'country_code']

def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("Top Absolute Correlations")
print(get_top_abs_correlations(d, 20))

Top Absolute Correlations
total_population               total_labor_force                0.997911
rural_population               total_population                 0.993388
                               total_labor_force                0.989707
school_enrollment_rate_female  school_enrollment_rate_total     0.979683
urban_population               total_labor_force                0.974371
total_population               urban_population                 0.972803
agricultural_land_area         total_land_area                  0.954624
rural_population               urban_population                 0.940436
forest_area                    total_land_area                  0.928500
access_to_improved_sanitation  access_to_electricity            0.863503
urban_population               co2_emissions                    0.850898
adult_literacy_rate            school_enrollment_rate_female    0.829266
life_expectancy                access_to_electricity            0.827314
fertility_rate                 access_to_electricity            0.814667
life_expectancy                access_to_improved_sanitation    0.814023
agricultural_land_area         forest_area                      0.807158
co2_emissions                  total_labor_force                0.807034
total_population               co2_emissions                    0.801687
fertility_rate                 life_expectancy                  0.799048
access_to_improved_sanitation  open_defecation                  0.791013
dtype: float64

As expected, amongst the top 20 most important correlations with the label I cannot find any of the feautres with very few non-null values. 

Therefore, I proceed to remove them.

In [9]:
#Drop Columns with too many missing values (nan)
df= df.drop(['adult_literacy_rate','droughts_floods_extreme_temps','hiv_incidence','inequality_index','rail_lines_density',
             'school_enrollment_rate_female','school_enrollment_rate_total','tax_revenue_share_gdp'], axis = 1)

In [10]:
df.shape

(1401, 38)

Now the number of columns has decreased from 46 to 38

### 3. Feature Engineering

I will create one 3 new columns:

#### 3.1 Create a categorical column (yearnew)

The reason I create this column is to show that PoU has increased in the 2010 compared to 2000.

In [11]:
#Aggregate Categories for year

def year_xform(al):
    if al > 2009: return '2010'
    else: return '2000'

# Create new column 

df["year2"] = df['year'].map(year_xform)


df['year2'].value_counts()

2000    890
2010    511
Name: year2, dtype: int64

In [12]:
# Now I can remove the year (original) column 
df= df.drop(['year'], axis = 1)

####  3. 2 Create new categorical columns

In [13]:
## Create new column for urban share
df['urban_share']=df['urban_population']/df['total_population']
df['urban_share'].unique()

array([0.26913152, 0.35160797, 0.3195086 , ..., 0.55484036, 0.24540367,
       0.25542912])

In [14]:
# Create a New column for rural_share...see if it works like urban_share
df['rural_share']=df['rural_population']/df['total_population']

In [15]:
# I should have a total of 40 columns
df.shape

(1401, 40)

### 4. Save modified dataset

In [16]:
#export data set to main directory to be used in a different jupyter notebook
df.to_csv("dfprepared.csv", index=False)